.box{
    width:550px;
    position: absolute;
    transform: translate(50%,50%);
    background-color: #FFE4E1;
  }
  
  .triangle {
    width: 100px;
    height: 100px;
    margin: 1rem;
    background-color:#FF69B4;
    display: inline-block;
  }
  
  .Top {
    clip-path:polygon(50% 0,100% 100%,0 100%);
  }

  .Right {
    clip-path: polygon(0 0,100% 50%,0 100%);
  }
  .bottom {
    clip-path: polygon(0 0,100% 0,50% 100%)
  }
  .left{
    clip-path: polygon(100% 0,100% 100%,0 50%)
  }